<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="src/vue.global.js"></script>
    <title>Course Planner</title>
    <link rel="icon" href="/images/aybu_logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="src/styles.css">
</head>

<body>
    <div class="logo">
        <img src="/images/aybuLogo.png" alt="logo">
        <h1 class="header">Course Planner</h1>
    </div>



    <div style="height: 250px;"></div>


    <div id="app" style="margin-top: 70px">

        <div class="accordion" :class="{ 'active': activeAccordion === 'courses' }">
            <button class="accordion-header" :class="{ 'active': activeAccordion === 'courses' }"
                @click="toggleAccordion('courses')">Courses</button>
            <div class="accordion-panel" :class="{ 'active': activeAccordion === 'courses' }">


                <button @click="addCourse" class="mainButton">Add a Course</button>
                <input type="file" id="courseFileInput" style="display: none" @change="importCourse">
                <button @click="openImport('courseFileInput')" class="mainButton">Import Course</button>
                
                

                <table class="course-list">
                    <thead>
                        <tr>
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>Year</th>
                            <th>Credit</th>
                            <th>Type</th>
                            <th>Department</th>
                            <th>Number of Students</th>
                            <th>Instructor</th>
                            <th>Block</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="course in courses" :key="course.code">
                            <td>{{ course.code }}</td>
                            <td>{{ course.name }}</td>
                            <td>{{ course.year }}</td>
                            <td>{{ course.credit }}</td>
                            <td>{{ course.type }}</td>
                            <td>{{ course.dept }}</td>
                            <td>{{ course.num_students }}</td>
                            <td>{{ course.instructor }}</td>
                            <td>{{ course.block }}</td>
                            <td>
                                <button @click="editCourse(course.code)" class="editButton">✏️</button>
                                <button @click="deleteCourse(course.code)" class="deleteButton">❌</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="accordion" :class="{ 'active': activeAccordion === 'services' }">
            <button class="accordion-header" :class="{ 'active': activeAccordion === 'services' }"
                @click="toggleAccordion('services')">Services</button>
            <div class="accordion-panel" :class="{ 'active': activeAccordion === 'services' }">



                <button @click="addService" class="mainButton">Add a Service</button>
                <input type="file" id="serviceFileInput" style="display: none" @change="importService">
                <button @click="openImport('serviceFileInput')" class="mainButton">Import Service</button>


                <table class="course-list">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Service hours</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(a, b) in service" :key="name">
                            <td>{{ b }}</td>
                            <td>{{ convertHoursToText(a) }}</td>
                            <td> <button @click="editService(b)" class="editButton">✏️</button>
                                <button @click="deleteService(b)" class="deleteButton">❌</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="accordion" :class="{ 'active': activeAccordion === 'busyHours' }">
            <button class="accordion-header" :class="{ 'active': activeAccordion === 'busyHours' }" @click="toggleAccordion('busyHours')">Busy Hours</button>
        
            <div class="accordion-panel" :class="{ 'active': activeAccordion === 'busyHours' }">
                
             
         
        
                <button @click="addBusyHour" class="mainButton">Add a busy hour</button>
                <input type="file" id="busyFileInput" style="display: none" @change="importBusy">
                <button @click="openImport('busyFileInput')" class="mainButton">Import Busy Hours</button>
        
                <table class="course-list">
                    <thead>
                        <tr>
                            <th>Instructor</th>
                            <th>Busy Hours</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(busyhours, inst) in busy" :key="inst">
                            <td>{{ inst }}</td>
                            <td>{{ convertHoursToText(busyhours) }}</td>
                            <td>
                                <button @click="editBusy(inst)" class="editButton">✏️</button>
                                <button @click="deleteBusy(inst)" class="deleteButton">❌</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="accordion" :class="{ 'active': activeAccordion === 'classrooms' }">
            <button class="accordion-header" :class="{ 'active': activeAccordion === 'classrooms' }"
                @click="toggleAccordion('classrooms')">Classrooms</button>
            <div class="accordion-panel" :class="{ 'active': activeAccordion === 'classrooms' }">

                <button @click="addClass" class="mainButton">Add a classroom</button>
                <input type="file" id="classroomFileInput" style="display: none" @change="importClassroom">
                <button @click="openImport('classroomFileInput')" class="mainButton">Import Classrooms</button>

                <table class="course-list">
                    <thead>
                        <tr>
                            <th>Classroom</th>
                            <th>Capacity</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(capacity, name) in classrooms" :key="name">
                            <td>{{ name }}</td>
                            <td>{{ capacity }}</td>
                            <td>
                                <button @click="editClass(name)" class="editButton">✏️</button>
                                <button @click="deleteClass(name)" class="deleteButton">❌</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>


        <div class="accordion" :class="{ 'active': activeAccordion === 'schedule' }" >
            
            <button class="accordion-header" id="schedule" :class="{ 'active': activeAccordion === 'schedule' }"
                @click="makeSchedule">Make Schedule</button>

            <div class="accordion-panel" :class="{ 'active': activeAccordion === 'schedule' }">

            <div v-if="successWhenLaying === true">
                    <table class="course-list">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Hour</th>
                            <th colspan="2">Year 1</th>
                            <th colspan="2">Year 2</th>
                            <th colspan="2">Year 3</th>
                            <th colspan="2">Year 4</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(day, index) in Object.keys(weekdays)">
                            <tr>
                                <td rowspan="9" :style="{ backgroundColor: getDayColor(index*8), fontWeight: 600 }">{{
                                    day }}</td>
                            </tr>

                            <tr v-for="hour in getHourRange(index)" :key="hour">
                                <td :style="{ backgroundColor: getDayColor(hour) }"> <b>{{ toHour(hour) }}</b></td>
                                <template v-for="year in 4" :key="year">

                                    <template v-if="schedule[year][hour]">

                                        <template v-if="notInMiddle(schedule, hour, year)">
                                            <td :rowspan="schedule[year][hour][0].hours"
                                                :style="{ backgroundColor: getDayColor(hour), fontWeight: 600 }">{{
                                                schedule[year][hour][0].code + " " + schedule[year][hour][0].instructor.split(' ').pop() }}</td>
                                            <td :rowspan="schedule[year][hour][0].hours"
                                                :style="{ backgroundColor: getDayColor(hour) }">{{
                                                schedule[year][hour][1] }}</td>
                                        </template>
                                        <template v-else>

                                        </template>

                                    </template>
                                    <template v-else>
                                        <td :style="{ backgroundColor: getDayColor(hour) }"> </td>
                                        <td :style="{ backgroundColor: getDayColor(hour) }"> </td>
                                    </template>
                                </template>
                            </tr>
                        </template>
                    </tbody>

                </table>
                </template>

                
            </div> 
            <div v-else  style="text-align: center;">
                <p class="error">{{ successWhenLaying }}</p>
            </div>
            
        </div>

        
        


    </div>

    

    <div id="addBusyModal" v-if="showAddBusyForm" class="modal">
        <div class="modal-content">
            <span class="close" @click="cancelAddBusyHour">&times;</span>
            <h2 class="header">Add a Busy Hour</h2>
            
            <form @submit.prevent="submitBusyHour">

                <label for="instructor">Instructor Name:</label>
                <select id="instructor" v-model="newBusyHour.instructor">
                    <option v-for="instructor in getInstructors()" :value="instructor">{{ instructor }}</option>
                </select>
                <p v-if="errors.instructor" class="error">{{ errors.instructor }}</p>

                <label for="hour">Hour:</label>
                <select id="hour" v-model="newBusyHour.hour">
                    <option value="8">8:30</option>
                    <option value="9">9:30</option>
                    <option value="10">10:30</option>
                    <option value="11">11:30</option>
                    <option value="12">12:30</option>
                    <option value="13">13:30</option>
                    <option value="14">14:30</option>
                    <option value="15">15:30</option>
                </select>
                <p v-if="errors.hour" class="error">{{ errors.hour }}</p>

                <label for="day">Day:</label>
                <select id="day" v-model="newBusyHour.day">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                </select>
                <p v-if="errors.day" class="error">{{ errors.day }}</p>

              
                <button type="submit" class="miniButton">Add busy</button>

            </form>
            <div v-if="showSuccessMessage" class="success-message">
                Busy hour successfully added
            </div>
        </div>
    </div>

    <div id="editBusyModal" v-if="showEditBusyForm" class="modal">
        <div class="modal-content">
            <span class="close" @click="cancelEditBusy">&times;</span>
            <h2 class="header">Edit a Busy Hour</h2>

            <label for="hour">Busy hours:</label>
            <select size="10" id="hour" v-model="newBusyHour.hour2" multiple>
                <option v-for="hour in busy[editingInstructor]" :value="hour">{{ toHourandDay(hour) }}</option>
            </select>
            <button @click="removeSelectedHour" class="miniButton">Remove hours</button>

            <form @submit.prevent="submitBusyHour">
                
                <label for="addHour">Add hour:</label>
                <select id="addHour" v-model="newBusyHour.hour">
                    <option value="8">8:30</option>
                    <option value="9">9:30</option>
                    <option value="10">10:30</option>
                    <option value="11">11:30</option>
                    <option value="12">12:30</option>
                    <option value="13">13:30</option>
                    <option value="14">14:30</option>
                    <option value="15">15:30</option>
                </select>
                <p v-if="errors.hour" class="error">{{ errors.hour }}</p>
            
                <label for="day">Day:</label>
                <select id="day" v-model="newBusyHour.day">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                </select>
                <p v-if="errors.day" class="error">{{ errors.day }}</p>
            
                <button type="submit" class="miniButton">Add busy hour</button>

            </form>
            
          
            <div v-if="showSuccessMessage" class="success-message">
                Busy hour successfully edited.
            </div>
        </div>
    </div> 
        
    <div id="addCourseModal" v-if="showAddCourseForm" class="modal">
        <div class="modal-content">
            <span class="close" @click="cancelAddCourse">&times;</span>
            <h2 class="header">Add a New Course</h2>

            <form @submit.prevent="submitCourse">
                <label for="code">Course Code:</label>
                <input type="text" id="code" v-model="newCourse.code" />
                <p v-if="errors.code" class="error">{{ errors.code }}</p>

                <label for="name">Course Name:</label>
                <input type="text" id="name" v-model="newCourse.name" />
                <p v-if="errors.name" class="error">{{ errors.name }}</p>

                <label for="year">Year of Semester:</label>
                <input type="number" id="year" v-model="newCourse.year" />
                <p v-if="errors.year" class="error">{{ errors.year }}</p>

                <label for="credit">Credit:</label>
                <input type="number" id="credit" v-model="newCourse.credit" />
                <p v-if="errors.credit" class="error">{{ errors.credit }}</p>

                <label for="type">Type (C/E):</label>
                <select id="type" v-model="newCourse.type">
                    <option value="C">C</option>
                    <option value="E">E</option>
                </select>
                <p v-if="errors.type" class="error">{{ errors.type }}</p>

                <label for="dept">Department (D/S):</label>
                <select id="dept" v-model="newCourse.dept">
                    <option value="D">D</option>
                    <option value="S">S</option>
                </select>
                <p v-if="errors.dept" class="error">{{ errors.dept }}</p>

                <label for="num_students">Number of Students:</label>
                <input type="number" id="num_students" v-model="newCourse.num_students" />
                <p v-if="errors.num_students" class="error">{{ errors.num_students }}</p>

                <label for="instructor">Instructor:</label>
                <input type="text" id="instructor" v-model="newCourse.instructor" />
                <p v-if="errors.instructor" class="error">{{ errors.instructor }}</p>

                <label for="block">Course Hours Preference (2+1/3):</label>
                <select id="block" v-model="newCourse.block">
                    <option value="2+1">2+1</option>
                    <option value="3">3</option>
                </select>
                <p v-if="errors.block" class="error">{{ errors.block }}</p>

                <button type="submit" class="miniButton">Add Course</button>

            </form>



            <div v-if="showSuccessMessage" class="success-message">
                Course successfully added
            </div>
        </div>
    </div>

    <div id="editCourseModal" v-if="showEditCourseForm" class="modal">
        <div class="modal-content">
            <span class="close" @click="cancelEditCourse">&times;</span>
            <h2 class="header">Edit</h2>

            
            <form @submit.prevent="editSubmitCourse">

                <label for="name">Course Name:</label>
                <input type="text" id="name" v-model="newCourse.name" />
                <p v-if="errors.name" class="error">{{ errors.name }}</p>

                
                <label for="year">Year of Semester:</label>
                <input type="number" id="year" v-model="newCourse.year" />
                <p v-if="errors.year" class="error">{{ errors.year }}</p>

                
                <label for="credit">Credit:</label>
                <input type="number" id="credit" v-model="newCourse.credit" />
                <p v-if="errors.credit" class="error">{{ errors.credit }}</p>

                
                <label for="type">Type (C/E):</label>
                <select id="type" v-model="newCourse.type">
                    <option value="C">C</option>
                    <option value="E">E</option>
                </select>
                <p v-if="errors.type" class="error">{{ errors.type }}</p>

                
                <label for="dept">Department (D/S):</label>
                <select id="dept" v-model="newCourse.dept">
                    <option value="D">D</option>
                    <option value="S">S</option>
                </select>
                <p v-if="errors.dept" class="error">{{ errors.dept }}</p>

                
                <label for="num_students">Number of Students:</label>
                <input type="number" id="num_students" v-model="newCourse.num_students" />
                <p v-if="errors.num_students" class="error">{{ errors.num_students }}</p>

                
                <label for="instructor">Instructor:</label>
                <input type="text" id="instructor" v-model="newCourse.instructor" />
                <p v-if="errors.instructor" class="error">{{ errors.instructor }}</p>


                <label for="block">Course Hours Preference (2+1/3):</label>
                <select id="block" v-model="newCourse.block">
                    <option value="2+1">2+1</option>
                    <option value="3">3</option>
                </select>
                <p v-if="errors.block" class="error">{{ errors.block }}</p>

                <button type="submit" class="miniButton">Edit Course</button>
                <!--button @click="cancelEditCourse" class="miniButton">Cancel</button-->
            </form>
            <div v-if="showSuccessMessage" class="success-message">
                Course edited.
            </div>
        </div>
    </div>

    <div id="addClassModal" v-if="showAddClassForm" class="modal">
        <div class="modal-content">
            <span class="close" @click="cancelAddClass">&times;</span>
            <div v-if="showAddClassForm" class="class-form">
                <h2 class="header">Add a New Class</h2>
                <form @submit.prevent="submitClass">
                    
                    <label for="classroom-id">Classroom ID:</label>
                    <input type="text" id="classroom-id" v-model="newClass.classroomId" />
                    <p v-if="errors.classroomId" class="error">{{ errors.classroomId }}</p>

                    <label for="capacity">Capacity:</label>
                    <input type="number" id="capacity" v-model="newClass.capacity" />
                    <p v-if="errors.capacity" class="error">{{ errors.capacity }}</p>
                    
                    <button type="submit" class="miniButton">Add Class</button>

                </form>
                <div v-if="showSuccessMessage" class="success-message">
                    Class successfully added
                </div>
                

            </div>
        </div>
    </div>

    <div id="editClassModal" v-if="showEditClassForm" class="modal">
        <div class="modal-content">
            <span class="close" @click="cancelEditClass">&times;</span>
            <div v-if="showEditClassForm" class="class-form">
                <h2 class="header">Edit</h2>
                <form @submit.prevent="editSubmitClass">
                    

                    <label for="capacity">Capacity:</label>
                    <input type="number" id="capacity" v-model="newClass.capacity" />

                    
                    <button type="submit" class="miniButton">Edit Class</button>

                </form>
                <div v-if="showSuccessMessage" class="success-message">
                    Class successfully edited
                </div>
                
                <p v-if="errors.classroomId" class="error">{{ errors.classroomId }}</p>
                <p v-if="errors.capacity" class="error">{{ errors.capacity }}</p>

            </div>
        </div>
    </div>
    
    <div id="addServiceModal" v-if="showAddServiceForm" class="modal">
        <div class="modal-content">
            <span class="close" @click="cancelAddService">&times;</span>
            <h2 class="header">Add a Service Hour</h2>
            
            

            
            <form @submit.prevent="submitService">
                
                <label for="course">Course Code:</label>
                <select id="course" v-model="newServiceHour.course">
                    <option v-for="course in courses" :value="course.code">{{ course.code }}</option>
                </select>
                <p v-if="errors.course" class="error">{{ errors.course }}</p>


                <div v-if="findCourse(newServiceHour.course) && findCourse(newServiceHour.course).block === '2+1'">

                    <label for="hour">Starting hour for the one hour of "2+1" block:</label>
                    <select id="hour" v-model="newServiceHour.hourAlt">
                        <option value="8">8:30</option>
                        <option value="9">9:30</option>
                        <option value="10">10:30</option>
                        <option value="11">11:30</option>
                        <option value="12">12:30</option>
                        <option value="13">13:30</option>
                        <option value="14">14:30</option>
                        <option value="15">15:30</option>
                    </select>
                    <p v-if="errors.hourAlt" class="error">{{ errors.hourAlt }}</p>

                    <label for="day">Day:</label>
                    <select id="day" v-model="newServiceHour.dayAlt">
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                    </select>
                    <p v-if="errors.dayAlt" class="error">{{ errors.dayAlt }}</p>
                </div>

                
              
                <label for="hour">Starting hour:</label>
                <select id="hour" v-model="newServiceHour.hour">
                        <option value="8">8:30</option>
                        <option value="9">9:30</option>
                        <option value="10">10:30</option>
                        <option value="11">11:30</option>
                        <option value="12">12:30</option>
                        <option value="13">13:30</option>
                        <option v-if="findCourse(newServiceHour.course) && findCourse(newServiceHour.course).block === '2+1'" value="14">14:30</option>
                        <!--option value="15">15:30</option-->
                </select>
                <p v-if="errors.hour" class="error">{{ errors.hour }}</p>

                    <label for="day">Day:</label>
                    <select id="day" v-model="newServiceHour.day">
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                    </select>
                    <p v-if="errors.day" class="error">{{ errors.day }}</p>
                
                
                <button type="submit" class="miniButton">Add Service</button>

            </form>
            <div v-if="showSuccessMessage" class="success-message">
                Service hour successfully added
            </div>
        </div>
    </div>

    <div id="editServiceModal" v-if="showEditServiceForm" class="modal">
        <div class="modal-content">
            <span class="close" @click="cancelEditService">&times;</span>
            <h2 class="header">Edit Service Hour</h2>

            <div v-if="findCourse(editingService).block === '2+1'">

                <label for="hour">Starting Hour for the one hour block:</label>
                <select id="hour" v-model="newServiceHour.hourAlt">
                    <option value="8">8:30</option>
                    <option value="9">9:30</option>
                    <option value="10">10:30</option>
                    <option value="11">11:30</option>
                    <option value="12">12:30</option>
                    <option value="13">13:30</option>
                    <option value="14">14:30</option>
                    <option value="15">15:30</option>
                </select>
                <p v-if="errors.hour" class="error">{{ errors.hour }}</p>

                <label for="day">Day:</label>
                <select id="day" v-model="newServiceHour.dayAlt">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                </select>
                <p v-if="errors.day" class="error">{{ errors.day }}</p>
            </div>


            
            <form @submit.prevent="submitEditService">
                <label for="hour">Starting Hour:</label>
                <select id="hour" v-model="newServiceHour.hour">
                    <option value="8">8:30</option>
                    <option value="9">9:30</option>
                    <option value="10">10:30</option>
                    <option value="11">11:30</option>
                    <option value="12">12:30</option>
                    <option value="13">13:30</option>
                    <option value="14">14:30</option>
                    <option value="15">15:30</option>
                </select>
                <p v-if="errors.hour" class="error">{{ errors.hour }}</p>
    
                <label for="day">Day:</label>
                <select id="day" v-model="newServiceHour.day">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                </select>
                <p v-if="errors.day" class="error">{{ errors.day }}</p>
    
                <button type="submit" class="miniButton">Save</button>

            </form>
            <div v-if="showSuccessMessage" class="success-message">
                Service hour successfully edited
            </div>
        </div>
    </div>

    <div class="accordion" :class="{ 'active': activeAccordion === 'credits' }" id="credits">
            
        <button class="accordion-header" :class="{ 'active': activeAccordion === 'credits' }"
            @click="toggleAccordion('credits')">Credits</button>

        <div class="accordion-panel" style="font-family: Roboto;display: flex;margin: 0px;align-items: center;flex-direction: column;" :class="{ 'active': activeAccordion === 'credits' }">

            <label >Berke Kabasakal 22050111070</label >
            <label >Emin Salih Açıkgöz 22050111032</label >
            <label >Zeki Furkan Yıldız 21050111019</label >
            <label >Havva Nisa Altınbaş 21050111014</label >
            <label >Cemilhan Sağlam 21050111013</p>
            
    </div>

    <div id="displayDiv" class="hidden"></div>

    <script src="src/app.js"></script>
</body>

</html>