
.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #194965;
    width: 100%;
    height: auto;
}

.logo img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.logo .header {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;

}

body {
    background-color: #bfd9f3; 
    padding-left: 5%;
    padding-right: 5%;

}

.success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 1s slide-ease-in-out;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.success-message.show {
    opacity: 1;
}

.success-message::after {
    content: '\2714';
    margin-left: 10px;
    font-size: 24px;
}


.success-message.show {
    opacity: 1;
}


.course-form label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-right: 2px;
    margin-left: 8px;
}

.header {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #3281a5;
    text-align: center;
}

.error {

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    left: 50%;
    color: #ff0000;

    margin-top: 5px;
}


#schedule {
    background-color: #194965;
    color: white
}




.accordion {

--circle-x: 1.8rem;

--circle-y: 0;

--circle-r: 200%;

overflow: hidden;

--circle-bg: #fff;

color: #000;

background-color: var(--circle-bg);
position: relative;
margin: 25px;

margin-bottom: 1rem;

border-radius: 15px;

grid-template-rows: 0fr 0fr;

box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);

opacity: 0.9;

transition: all 0.5s ease;
}


.accordion-header {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    color: #275677;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    text-align: center;


    transition: background-color 0.5s ease;
    padding: 25px;
}

.accordion-header::after {
    content: "\276F";
    float: right;
    margin-left: 5px;
    transition: transform 0.3s ease;
    font-weight: 100;
    font-size: 70%;

}

.accordion-header.active::after {
    transform: rotate(90deg);
}


.accordion.active {
    box-shadow: 20px 19px 20px 0px #00000033 !important;
}


.accordion-header:hover {
    background-color: #c0e2f6;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease;
}

.accordion-header:active {
    background-color: #98d8f1;
    transform: translateY(2px);
    transition: transform 0.2s ease;
}

.accordion-panel {
    overflow-y: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s ease;
}

/* The Modal (background) */
.modal {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.2);

}



.modal-content {
    background-color: #fefefe;
    padding: 20px;
    width: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    max-height: 70vh;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    box-shadow: 20px 19px 20px 0px #00000033 !important;
}

body.modal-open {
    overflow: hidden;
}
.modal-open {
    overflow: hidden;
}

.modal-content label {
    display: block;
    margin-bottom: 10px;
}

.modal-content input,
.modal-content select {
    width: 50%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}


/* Styles for buttons */
.modal-content .miniButton {
    background-color: #266485;
    color: #ffffff;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}


.modal-content .miniButton:hover {
    background-color: #276e8f;
}

/* Success message */
.modal-content .success-message {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
}

.editButton,
.deleteButton {
    background-color: #e4eaee;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #194965;
    margin:0px; 
    margin-right: 5px ;
    cursor:pointer;
}

/* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.course-list {
    width: -webkit-fill-available;
    border-collapse: collapse;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid black;
    text-align: center;
  }
  
  .course-list th,
  .course-list td {
    padding: 10px;
    border: 1px solid #0000001c;
  }
  
  .course-list th {
    background-color: #b9e0f3;

  }
  
  .course-list tr:nth-child(even) {
    background-color: #e0edf3;
  }
  
  
  .course-list tr:hover {
    background-color: #c1d4e3;
  }
  

.accordion-panel.active {
    max-height: 100000px;
    opacity: 1;
}

/* Scrollbar Track */
::-webkit-scrollbar {
    width: 10px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background-color: #3c8fb6;
    border-radius: 5px;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #276e8f;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: #194965;
}

/* Scrollbar Handle when dragging */
::-webkit-scrollbar-thumb:active {
    background-color: #a1cce8;
}



/* buttons */

.mainButton,
 .miniButton {
    background-color: #266485;
    color: #ffffff;
    border-radius: 10px;
    height: 40px !important;
    width: 175px !important;
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
    margin: 25px ;
    font-weight: bold;
    border: 0px;
    margin-right: 0px ;
}

.miniButton{
    margin: 0px !important;
    margin-bottom: 15px !important;
}
.mainButton:hover {
    background-color: #2b86b3;
    cursor: pointer;
}

.miniButton:hover {
    background-color: #276e8f;
    cursor: pointer;
}


.mainButton:active {
    background-color: #2b86b3;
}

.miniButton:active {
    background-color: #194965;
}